# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / Frontend
node_modules/
dist/
.vite/

# Env / secrets
.env
.env.local
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
ras.txt
*.pem

# OS
.DS_Store

# Editors
.vscode/
.idea/
